Repository opensearch-project/OpenSearch-Dashboards, pull requests merged in 2021-10, with the labels that each got.

#839 Redirect URL not allowed
  src/core/server/rendering/rendering_service.tsx
Labels: branding

#843 [1.1] De-Couple Dashboards linux building process
  DEVELOPER_GUIDE.md
  package.json
  src/dev/build/args.test.ts
  src/dev/build/args.ts
  src/dev/build/build_distributables.ts
  src/dev/build/cli.ts
  src/dev/build/lib/build.test.ts
  src/dev/build/lib/config.test.ts
  src/dev/build/lib/config.ts
  src/dev/build/lib/platform.ts
  src/dev/build/tasks/clean_tasks.ts
  src/dev/build/tasks/create_archives_task.ts
  src/dev/build/tasks/nodejs/clean_node_builds_task.ts
  src/dev/build/tasks/nodejs/download_node_builds_task.ts
  src/dev/build/tasks/nodejs/extract_node_builds_task.ts
  src/dev/build/tasks/nodejs/verify_existing_node_builds_task.ts
  src/dev/build/tasks/notice_file_task.ts
Labels: Build, v1.1.0, backport

#841 Ensure DCO Workflow Check
  .github/workflows/dco.yml
Labels: enhancement

#840 Fix yarn build docs and update test
  DEVELOPER_GUIDE.md
  src/dev/build/args.test.ts
  src/dev/build/cli.ts
Labels: bug, Build

#847 [1.x] Ensure DCO Workflow Check
  .github/workflows/dco.yml
Labels: enhancement, backport

#845 [1.x] Fix yarn build docs and update test
  DEVELOPER_GUIDE.md
  src/dev/build/args.test.ts
  src/dev/build/cli.ts
Labels: bug, Build, backport

#844 [1.1] Fix yarn build docs and update test
  DEVELOPER_GUIDE.md
  src/dev/build/args.test.ts
  src/dev/build/cli.ts
Labels: bug, Build, v1.1.0, backport

#891 Add bwc cypress test for osd without bundles
  cypress/integration/osd/check_advanced_settings.js
  cypress/integration/osd/check_default_page.js
  cypress/integration/osd/check_filter_and_query.js
Labels: test:bwc
